.container {
  display: flex;
  flex-direction: column;
}
header {
  font-size: larger;
  padding: 20px;
  background-color: rgb(55, 54, 54);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  font-size: larger;
  padding: 20px;
  background-color: rgb(55, 54, 54);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-container {
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.content {
  height: 60px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  box-sizing: border-box;
  padding-left: 20px;
  background-color: rgb(232, 230, 230);
  font-weight: bold;
}
.side-bar {
  width: 400px;
  height: 60px;
  background-color: rgb(196, 195, 195);
  box-sizing: border-box;
  padding-left: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
@media (max-width: 599px) {
  .sub-container {
    display: flex;
    flex-direction: column;
  }
  .content,
  .side-bar {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .content,
  .side-bar {
    width: 100%;
  }
}
